@tailwind base;
@tailwind components;
@tailwind utilities;

#ho-main {
  grid-template-rows: [breadcrumb] 36px [content] calc(100vh - 36px);
  grid-template-columns: [breadcrumb content] 1fr [cmd] min-content;
}

#ho-breadcrumb {
  grid-row: breadcrumb;
  grid-column: breadcrumb;
}

#ho-content {
  grid-row: content;
  grid-column: content;
}

#ho-logo {
  grid-row: 1;
  grid-column: 1;
}

.ho-table-content::-webkit-scrollbar {
  display: none;
}

.ho-table-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
